Repository kahnwong/mcp-server-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-fmt, go-imports, go-mod-tidy, go-vet, golangci-lint, cargo-fmt, cargo-check, cargo-clippy, ruff-check, ruff-format

go-build:
  name: go-build
  entry: bash -c "cd go && go build ."
  language: system

go-fmt:
  name: go-fmt
  entry: bash -c "cd go && go fmt"
  language: system

go-imports:
  name: go-imports
  entry: bash -c "cd go && goimports -l -w ."
  language: system

go-mod-tidy:
  name: go-mod-tidy
  entry: bash -c "cd go && go mod tidy"
  language: system

go-vet:
  name: go-vet
  entry: bash -c "cd go && go vet"
  language: system

golangci-lint:
  name: golangci-lint
  entry: bash -c "cd go && golangci-lint run"
  language: system

cargo-fmt:
  name: rust-fmt
  entry: bash -c "cd rust && cargo fmt"
  language: system

cargo-check:
  name: cargo-check
  entry: bash -c "cd rust && cargo check"
  language: system

cargo-clippy:
  name: cargo-clippy
  entry: bash -c "cd rust && cargo clippy -- -D warnings"
  language: system

ruff-check:
  name: ruff-check
  entry: bash -c "cd python && ruff check --extend-select I,F --fix"
  language: system

ruff-format:
  name: ruff-format
  entry: bash -c "cd python && ruff format"
  language: system

python: implement mcp server
  .gitignore
  .pre-commit-config.yaml
  README.md
  python/Makefile
  python/README.md
  python/mcp_server_demo/main.py
  python/mcp_server_demo/server.py
  python/pyproject.toml
  python/uv.lock
Due: ruff-check, ruff-format

go: implement mcp server
  .gitignore
  go/go.mod
  go/go.sum
  go/handlers/tools.go
  go/main.go
Due: go-build, go-fmt, go-imports, go-mod-tidy, go-vet, golangci-lint

go: refactor
  go/handlers/tools.go
  go/main.go
Due: go-build, go-fmt, go-imports, go-mod-tidy, go-vet, golangci-lint

rust: implement mcp server
  README.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/Makefile
  rust/src/main.rs
Due: cargo-fmt, cargo-check, cargo-clippy

go: add tools
  go/Makefile
  go/handlers/tools.go
  go/main.go
Due: go-build, go-fmt, go-imports, go-mod-tidy, go-vet, golangci-lint

Path conditions:
  go-build: any of: \.go$
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-mod-tidy: any of: \.go$
  go-vet: any of: \.go$
  golangci-lint: any of: \.go$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
